h1,h2,h3{
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
}
p{
    text-align: left;
    margin-left: 90px;
    margin-right: 90px;
}

.girisYazisi{
  text-align: center;
}

.DottoLogo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 140px;
}
.TopHeader{
  top: 0;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.95));
}

header{
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}  

.topButton{
  position: fixed; /* Sayfanın her yerinde sabit kalması için */
  bottom: 20px; /* Sayfanın altından 20px yukarıda */
  right: 30px; /* Sayfanın sağından 30px solda */
  z-index: 99; /* Butonun diğer öğelerin üstünde kalması için */
  border: none;
  outline: none;
  background-color: rgba(231, 0, 0, 0.49);
  color: white; /* Metin rengi */
  cursor: pointer; /* Fare imlecinin el şeklini alması */
  padding: 1px;
  border-radius: 100px; /* Kenarları yuvarlama */
  font-size: 20px;
}

  /* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: rgba(9, 9, 9, 0.45); 
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(149, 21, 21);
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-left{
  float: left;

}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
 
.pre-blog{
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
  margin-bottom: 170px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: x-large;
}
  
.blog{
    width: 80%;
    background-color: rgba(9, 9, 9, 0.45); 
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 35px;
}
.rightstext{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    
    color:rgb(243, 243, 243);
    
}
h2{
    color:rgb(228, 228, 228);
}
h3{
    color:white;
}
label {
    display: block;
    margin: 0.5rem 0;
    color: white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;  
  }
body{
    background-image: url(images/fancy-pants.jpg);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 0;
}
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;

}


.moreInfoButton{
    border: none;
    background-color: rgba(231, 0, 0, 0.49);
    border-radius: 100px;
    font-size: small;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: large;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
fieldset{
    border: none;
}
.whiteline{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    }
    .image1 {
        width: 500px;
        height: auto;
    }
    .image2 {
        position: absolute;
        align-items: center;
        width: 170px;
    }
a {
    color: white;
    text-decoration: none;

  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: rgb(239, 239, 239);
  }
  
  a:active {
    color: rgb(202, 202, 255);
  }

  .AePhoto{
    border: none;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }

  .personTitles{
    font-size: small;
    text-align: center;
    margin-top: -10px;
  }

  .personInfoName{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

  }

  .redlineTop{
    display: block;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    rotate: -2deg;
  }
  
  .redlineBottom{
    display: block;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    rotate: 2deg;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .Gform{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
  }

  .episode{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16/9;
    width: 87%;
  }

  @media (max-width: 768px) {
    .pre-blog{
        margin-top: 60px;
        margin-bottom: 60px;

    }
    .blog {
        padding: 3px;
    }
  
    .topnav a {
        font-size: 14px;
        padding: 3px 4px;
    }
  
    h1, h2, h3 {
        font-size: 20px;
        margin: 4px;
        padding: 3px;


    }

    p{
      padding: 3px;
      font-size: 13px;
      margin: 4px;

    }
  
    .article {
        max-width: 90%;
    }
  }
  
  footer{
    width: 80%;
    background-color: rgba(9, 9, 9, 0.45); 
    border-radius: 35px;    
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
  }

  .copyRights{
    text-align: center;
  }